@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#quote-box {
    padding: 20px;
    width: 30em;
    text-align: center;
    background-color: #fff;
    border-radius: 0.2em;
}

#button-section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.socialButton {
    font-size: 25px;
    padding: 10px 0px 0px 10px;
}

.below-quote-section {
    /* text-align: right; */
    margin: 20px 0;
}

html, body, #root, #root>div {
    height: 100%
}

#env {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    display: flex;
    align-items: baseline;
}

#quoteIcon {
    padding: 10px;
}

#author {
    text-align: right;
    padding: 10px 0px;
}

#new-quote {
    background-color: #fff;
    border-style: none;
    border: 1px solid #d3d3d3;
    padding: 5px;
    cursor: pointer;
    color: inherit;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#text {
    animation: fadein 1.5s;
}