@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#quote-box {
    padding: 20px;
    width: 30em;
    text-align: center;
    background-color: #fff;
    border-radius: 0.2em;
}

#new-quote-btn {
    text-align: right;
}

.author {
    text-align: right;
    margin: 20px 0;
}

html, body, #root, #root>div {
    height: 100%
}

#env {
    color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
  }

  .example-appear {
    opacity: 0.01;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    display: flex;
    align-items: baseline;
}
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

#quoteIcon {
    padding: 10px;
}

/* #author {
    font-family: cursive, sans-serif;
} */

#new-quote {
    background-color: #fff;
    border-style: none;
    border: 1px solid #d3d3d3;
    padding: 5px;
    cursor: pointer;
    color: inherit;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}
